# Core Dependencies
pandas
numpy

# Bioinformatics
biom-format
bioservices

# Statistics & ML
scipy
scikit-learn
statsmodels

# Visualization
matplotlib
seaborn
plotly

# GUI
# gooey

# Utilities
pyyaml
tqdm
appdirs

# Testing
pytest
pytest-cov
pytest-mock