# Core Dependencies
pandas
numpy
polars

# Bioinformatics
biom-format
bioservices

# Statistics & ML
scipy
scikit-learn
statsmodels
scikit-bio
patsy
boruta

# Visualization
matplotlib
seaborn
plotly

# GUI
streamlit

# Utilities
pyyaml
tqdm
appdirs
setuptools
psutil
requests
